
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

:root{
    --darkTheme: #212F3D;
    --darkTheme-description: #7189a3;
    --darkTheme-hover: #687683;
    --lightTheme:#F0F3F4;
    --lightTheme-description: #3d4d5e;
    --lightTheme-hover:#f7e0e0;
    --header-font: 'Darumadrop One', cursive;
    --description-font: 'Playfair Display', serif;

}

body{

    transition: background 0.5s ease-in-out;
    font-family: var(--header-font);
}

ul{
    list-style:none;;
}


/* Text */
.description-text{
  font-family: var(--description-font);
}

/* Theme Coloring START */
.lightThemeBG {
  background-color: var(--lightTheme);
}

.lightThemeColor {
  color: var(--darkTheme);
}

.lightThemeDescription {
  color:var(--lightTheme-description)
}

.darkThemeBG {
  background-color: var(--darkTheme);
}
.darkThemeColor {
  color: var(--lightTheme);
}

.darkThemeDescription {
  color:var(--darkTheme-description)
}


/* Theme Coloring END */


/* NAV START */

.navbar{
    width:100%;
    height: 10vh;
    background: transparent;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:22px;
  }

  .toggle-theme{
    padding:5px;
    cursor:pointer;
    border:none;
    background: none;
  }

  .fa-moon, .fa-sun{
     -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
  }

  .fa-moon:hover, .fa-sun:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
  }  
  
  .fa-moon{
    color:var(--darkTheme);
   
  }

  .fa-moon:hover{
    color:var(--darkTheme-hover)
  }


  .fa-sun{
    color:var(--lightTheme)
  }

  .fa-sun:hover{
    color:var(--lightTheme-hover)
  }

/* NAV END */

/* Hero */

.hero{
 display: flex;
 justify-content: center;
 height:50vh;
 width:100%;
}

.hero .heading{
  position: relative;
  top:50%;
}

.hero .heading h1{
  font-size:3rem;
  animation : slideLeft 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards; 
}

.hero .heading p{
  font-size:1.2rem;
 text-align: center;
 margin-top: 5px;
 animation : slideRight 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.10) forwards; 

}



/* Toggler */
.active{
  display:block;
}

.notActive{
  display: none;
}

/* CSS Animations */

@keyframes slideLeft{

  from {
    transform: translateX(calc(-30% + 10px));
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideRight{
  from {
    transform: translateX(calc(30% + 10px));
  }

  to{
    transform: translateX(0%);
  }
}