@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

:root{
    --righteous: 'Righteous', cursive;
    --comfortaa: 'Comfortaa', cursive;
    --lightBlk: #252323;
    --lightBlack64:rgba(37, 35, 35, 0.64);
    --lightGray: rgba(37, 35, 35, 0.15);
    --lightBlkBoxShadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --white: #fff;
    --white72: rgba(255, 255, 255, 0.72);
    --white50: rgba(255, 255, 255, 0.50);
    --golden: #E59500;
    --golden93: rgba(229, 149, 0, 0.93);
}

body{
    background-color: var(--lightBlk);  
    font-family: var(--comfortaa);
}

ul{
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    color:#fff;
    transition: color 0.3s ease-in, text-decoration 0.3s ease-in;
}

ul > li > a:hover{
    text-decoration: underline;
    color: var(--golden93);

}
main{
    margin-top:2rem;
}


/* Container */
.container{
    max-width:1400px;
    width:100%;
    margin:0 auto;
}

/* Navbar */
.navbar{
    background-color: var(--lightBlk);
    box-shadow: var(--lightBlkBoxShadow);
    height: auto;
}

.nav-container{
    display:flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;
}

.nav-container-main{
    display:flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.navbar-logo{
    font-family: var(--righteous);
    color:var(--golden);
    font-weight:bold;
    font-size:2.5rem;
}


.navbar-content{
    display: flex;
    align-items: center;
}

.left-content{
    padding-left:1rem;
}

.right-content{
    padding-right:1rem;
}
.left-content,
.right-content{
    font-weight: 200;
    font-size:0.7rem;
}

.right-content-ul{
    display:flex;
}

.right-content-ul > li{
    padding-left: 1rem;
}

.right-content-ul .logout-btn{
    background-color: transparent;
    border:2px solid var(--golden93);
    border-radius: 5px;
    color:var(--white);
    padding: 5px 15px;
    cursor: pointer;
    width:100px;
    height:auto;
}

.right-content-ul .logout-btn:hover{
    border:2px solid var(--golden);
    background:var(--golden);
    transition: background 0.3s ease-in, border 0.3s ease-in;
}

.mid-content ul > li > a:hover{
    text-decoration: none;
}

/* Hero */

.hero-content{
    display: flex;
    flex-direction: column;
    margin-top:6rem; 
    width:560px;
    max-width:100%;
    padding: 0 5px;

}

.hero-content-description h2{
    color:var(--golden);
    font-weight:bold;
    font-size: 2.4rem;
    line-height:3rem;
}

.hero-content-description h6{
    padding-top:0.5rem;
    font-size:1rem;
    color: var(--white72)
}

.hero-content-description h2, 
.hero-content-description h6{
    max-width: 100%;
    width:562px;
}

.hero-card-container{
    background-color: var(--golden93);
    margin-top:10px;
    width:480px;
    max-width: 100%;
    height:auto;
    padding:10px;
    border-radius:5px;
}

/* Tab */

.tabs{
    width:350px;
    max-width:100%;
    margin:0 auto;
}

.horizontal-line {
    border-top: 1px solid var(--lightGray); 
    margin-top: 2px; 
}
.active-tab {
    position: relative;
    color: var(--white);
    z-index:1;
}

.tab.active-tab::before {
    content: "";
    position: absolute;
    top: 20px; 
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--white72);
    transform-origin: left;
    transform: scaleX(0); 
    animation: slideUnderline 0.3s ease forwards; 
}

.hidden {
    display: none;
}

.tab-container{
    display:flex;
    justify-content: space-between;
    margin-top:15px;
}

.tab-container [data-tab="signInTab"], 
.tab-container [data-tab="registerTab"] {
    flex-grow:1;
}


.tab, 
.forgot-password-tab {
    cursor: pointer;
    position: relative; 
}



#forgotPasswordTabHeader h2{
    color:var(--lightBlk);
    font-weight:bold;
    text-align: center;
    font-size:1.5rem;
}

#forgotPasswordTabHeader p{

    color:var(--lightBlack64);
    font-weight:200;
    font-size:0.9rem;
    width:900px;
    max-width: 100%;
    margin:5px 0;
}

.form-container{
    margin-top:10px;
}

.form-email, 
.form-password{
    display: flex;
    flex-direction: column;
    margin-top:10px;
    color:var(--lightBlk)
}

.form-email label, 
.form-password label{
    padding-bottom:3px;
    font-size: 0.9rem;
    font-weight:bold;
}


.form-email input, .form-password input{
    background-color: transparent;
    border:2px solid var(--lightBlack64);
    border-radius:5px;
    height: 43px;
}

.signInBtn, 
.registerBtn, 
.sendBtn{
    margin:10px 0;
}

.signInBtn button, 
.registerBtn button, 
.sendBtn button{
    cursor: pointer;
    width:100%;
    background-color: var(--lightBlk);
    border:transparent;
    border-radius:5px;
    color:var(--white);
    font-weight:bold;
    height:43px;
    box-shadow: var(--lightBlkBoxShadow);
}


.form-password-between{

    display: flex;
    justify-content: space-between;
}

.form-password-between .forgot-password-tab{
    font-size:0.8rem;
    color:var(--lightBlack64)
}

.form-password-between .forgot-password-tab:hover{
    text-decoration: underline;
}

.misclick-tab{
 display: flex;
 margin-top:25px;
 justify-content: center;
}

.misclick-tab h4{
    color: var(--lightBlack64);
    font-size:0.9rem
}

.misclick-tab .tab{
    padding-left:5px;
    font-size:0.9rem;
    color: var(--white72)
}

.misclick-tab .tab:hover{
    text-decoration: underline;
}


#registerTabForm{
    position: relative;
}

.password-hint-container {
    padding: 10px;
    height: auto;
    display: none;
    font-size:0.9rem;
}

.password-hint-card > ul > li{
    color:var(--white72)
}

.show-hint {
    cursor: pointer;
    color: var(--lightBlack64)
}

.show-hint:hover{
    text-decoration: underline;
}

.show-password-container{
    display:block;
}

.invalid-hint{
    color:red
}

.valid-hint{
    color:green
}

/* Dashboard */
.userDisplayNameHeading{
    color:var(--white72);
    margin-top:8px;
    font-size:0.9rem;
}

#userDisplayName{
    color:var(--golden)
}

.dashboard{
    display: flex;
    gap:10%;
    padding-right:10px;
}

#dashboard-tabs{
    background:var(--golden);
    width:250px;
    max-width:100%;
    height:500px;
    padding:10px;
    display:flex;
    flex-direction: column;
    border-radius:5px;
}



#dashboard-tabs > div{
    margin-top:10px;
    padding:10px;
    cursor: pointer;
}

#dashboard-tabs > div:hover{
    background:var(--white72);
    color:var(--lightBlack);
    border-radius:10px

}

/* Activity */
.activity{
    color:var(--white72);
    flex-grow:2;
    position: relative;
}


.activity .activity-heading{
    display:flex;
    justify-content: space-between;
    color:var(--white)
}

.activity .monthly-heading{
    display:flex;
    position: absolute;
    top:2.5rem;
    color:var(--white);
}

.activity .monthly-heading .hyphen,
.activity .monthly-heading .changes-number, 
.activity .monthly-heading .changes-title{
    padding-left:3px;
}



.activity .activity-heading > h4:nth-child(1){
   text-decoration: underline;
}

.activity .activity-heading > h4:nth-child(1),
.activity .activity-heading > h4:nth-child(2){
    font-weight: 200;
 }

.activity .activity-heading #last-sign-in{
    color:var(--white72)
}


.activity-table{
    margin-top:3rem;
}

.activity-table > table{
    width:100%;
    max-width: 100%;
    border-collapse: collapse;
}


.activity-table .table-heading {
    border-top: 1px solid var(--white50); 
}

.activity-table .table-heading  th {
    text-align: left; 
    color:var(--white72);
    /* top | right | bottom | left */
    padding: 10px 0 10px 10px;
}

.activity-table >table > tbody > tr{
    display: table-row;
    border-bottom: 1px solid var(--white50);
}

.activity-table > table > tbody > tr > td {
    text-align: left; 
    padding: 10px;
}

.changes-title, .hyphen{
    font-weight: 200;
    color:var(--white72)
}

.column-data{
    color:var(--golden);
    font-size:0.9rem;
}

.column-data #updated-column{
    font-weight: bold;
}

/* Account Settings */

.account-settings{
    width:100%;
    max-width: 100%;
}

.account-settings-heading{
    color:var(--white);
    display:flex;
    justify-content: space-between;
}

.account-settings-heading > h4:nth-child(1){
    text-decoration: underline;
    font-weight: 200;
}

.account-settings-heading > h4  span{
    color:var(--white72)
}


.account-settings .settings-container{
    background-color: transparent;
    border:2px solid var(--golden);
    height:auto;
    margin-top:2rem;
    border-radius:5px;
    color:var(--white)
}


.settings-container .form-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-container .form-item{
    display: flex;
    flex-direction: column;
    padding:20px;
}


.settings-container .form-item label{
 padding-bottom:5px;
 font-size:0.9rem;
 font-weight: bold;
}

.settings-container .form-item input{
    color:var(--white72);
    background-color: transparent;
    border:1px solid var(--white);
    border-radius: 5px;
    height:39px;
    width:450px;
    max-width: 100%;
    padding-left:5px;
}

.settings-container .form-item input:focus, 
.settings-container .password .form-item .current:focus{
    outline: 1px solid var(--golden);
    border: 1px solid var(--golden);
}


.settings-container .settings-button{
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
}

.settings-container .settings-button button{
    background-color: var(--golden93);
    border:1px solid var(--golden93);
    box-shadow: var(--lightBlkBoxShadow);
    color:var(--white);
    padding:10px;
    width:250px;
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in, border 0.3s ease-in;
}
.settings-container .settings-button button:hover{
    background:var(--golden);
    border:1px solid var(--golden);
}


.settings-container .password .form-item .current{
    color:var(--white72);
    background-color: transparent;
    border:1px solid var(--white);
    border-radius: 5px;
    height:39px;
    width:100%;
    max-width: 100%;
    padding-left:5px;
}


/*  Animations  */
#forgotPasswordTabForm .form-email, .password-hint-container .password-hint-card {
    animation: fadeInDown 1s ease forwards;
}

#forgotPasswordTabForm .sendBtn,
#signInTabForm .signInBtn,
#signInTabForm .form-email,
#registerTabForm .form-email,
#registerTabForm .registerBtn{
       animation: fadeInUp 1s ease forwards;
}


.slide-in {
    animation: slideIn 0.5s forwards;
    display: block;
}

/* Animation keyframes */

@keyframes slideIn {
    from {
        right: 0;
    }
    to {
        right: -5rem;
    }
}

@keyframes slideUnderline {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes fadeInDown {
    from {
        max-height:0;
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        max-height:100px;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        max-height: 0;
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        max-height: 100px;
        opacity: 1;
        transform: translateY(0);
    }
}


/* Media Queries */
@media screen and (max-width: 980px){
    .dashboard{
        flex-direction: column;
    }

    #dashboard-tabs{
        margin-bottom: 1rem;
        flex-direction: row;
        justify-content: space-between;
        width:300px;
        max-width: 100%;
        height:auto;
        margin:20px auto;
    }

    .settings-container .form-items{
      flex-wrap:wrap;
      flex-direction: column;
    }
    .settings-container .form-item input {
        width: 100%;
        max-width: 100%;
    }

    .settings-container .settings-button{
        padding:20px;

    }
    .settings-container .settings-button button{
        width:350px;
        max-width: 100%;
    }

    .account-settings-heading {
        flex-direction: column;
    }

    .account-settings-heading > h4{
        padding: 10px 0;
        text-align: center;
    }

    .account-settings-heading > h4:last-of-type{
        font-size:0.9rem
    }
}

@media screen and (max-width: 900px) {
    .nav-container{
        flex-direction: column;
    }
    .mid-content{
        order:-1;
        margin-bottom:0.5rem;
    }
    .left-content{
        /* top | right | bottom | left */
        margin:4px 5px 10px 0; 
    }
    .right-content{
        margin:5px 0;
        padding:0;
    }
    
    .right-content .logout-btn{
        margin-top:5px
    }

    .userDisplayNameHeading{
        margin-top:0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar-logo{
       font-size:1.9rem;
    }

    .hero-content-description h2{
        font-size: 1.2rem;
        line-height:2rem;
    }

    .hero-content-description h6{
        font-size: 0.8rem;
    }
}


